/build
/public
/dist

.dockerignore
.DS_Store
.eslintignore

*.png
*.toml
**/*.svg

docker
Dockerfile*

.editorconfig
.gitignore
.eslintrc.cjs
.prettierignore
.eslintcache

LICENSE

*.lock
yarn-error.log
package.json
.history
CNAME
